<body>  
    <div class="container">
        
        <div class="left-column">
            
        <h1>Actors in the BMDb</h1>

            <div class="create-wrap">
                <a routerLink="/actors/create">
                <button class="create">+ ADD ACTOR</button>   
                 </a>
            </div>

    
            <div class="table-container">
    
              
                <table class="table-striped">  
                    <thead>
    
                        <tr>
                            <th >Actor Name</th>
                            <th class="button-header"></th>
                            <th class="button-header"></th>
                        </tr> 
    
                    </thead>
    
                    <tbody>
    
                        <tr *ngFor="let actor of actors">
                        <td>{{ actor.firstName }} {{actor.lastName}}</td>
                        <td><a routerLink="/actors/{{actor.id}}">
                            <button class="list-button">Details</button></a>
                        </td>
    
                        
    
                        <td>
                            <a routerLink="/actors/edit/{{ actor.id }}">
                                <button class="list-button">Edit</button></a>
                        </td>
                     
                        </tr>
    
                    </tbody>
                </table> 
            </div>
            </div>

            <div class="right-column">
                <div class="picture">
                    <img src="../../../assets/vhs.png">
                </div>
            </div>    
            </div>
      </body>
