<body>

    <div class="flex-container">
       
        <div class="photo-container">
           
            
                <img [src]="movie.imageUrl" [ngClass]="{ 'default-image': isDefaultImage() }">
                <img [src]="actor.imageUrl" [ngClass]="{ 'default-image': isDefaultImage() }">
            

        </div>


        <div class="card-container">
            
                <div class="card large">
                    <section class="section dark">
                        <h3 class="strong">
                        <strong>{{credit.role}}</strong>
                        </h3>
                        <p class="played">played by:</p>
                        <h5 class="name"> {{credit.actor.firstName}} {{credit.actor.lastName}}</h5>
                        <p class="actor-details">Gender : {{credit.actor.gender}}</p>
                        <p class="actor-details">Birthday : {{ credit.actor.birthDate | date:'MM-dd-yyyy' }}</p>
                        
                    <div class="button-wrap">    
                        <a routerLink="/actors/edit/{{ actor.id }}">
                            <button type="button" class="list-button">Edit</button>
                        </a>    
                        
                        <a><button type="button" class="list-button" (click)="delete()">Delete</button></a>
                        <a><button type="button" class="list-button" (click)="onBackClick()">Back</button></a>
                    </div>    

                    </section>
                </div>
            
        </div>

    </div>    
</body>