<body>
    <app-menu></app-menu>

    <div class="flex-container">
       
        <div class="photo-container">
            <img [src]="movie.imageUrl" [ngClass]="{ 'default-image': isDefaultImage() }">
        </div>        


        <div class="card-container">
            
                <div class="card large">
                    <section class="section dark">
                        <h3 class="strong">
                        <strong>{{movie.title}}</strong>
                        </h3>
                        <p>Year : {{movie.year}}</p>
                        <p>Rating : {{movie.rating}}</p>
                        <p>Director : {{movie.director}}</p>
                        
                    <div class="button-wrap">    
                        <a routerLink="/movies/edit/{{ movie.id }}">
                            <button type="button">Edit</button>
                        </a>    
                        
                        <a><button type="button" (click)="delete()">Delete</button></a>
                        <a><button type="button">Credits</button></a> 
                    </div>    

                    </section>
                </div>
            
        </div>

    </div>    
</body>
