*{padding: 0; margin: 0; box-sizing: border-box;}
body{
    min-height: 100vh;
    background-color: rgba(254, 164, 20, 0.462);
    margin: 0; /* Remove default margin to fill the entire viewport */
    padding: 0; /* Remove default padding */
    overflow-y: scroll;
}

.trans-box-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 40px;
    
}

.trans-box {
    background-color: rgba(216, 112, 220, 0.726);
    min-height: 400px;
    width: 600px;
    padding-top: 40px;
    padding-left: 30px;
    margin-bottom: 30px;
    border-radius: 50px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    font-size: large;
    
}

.button-container {
    display: flex;
    flex-direction: row;
}

label {
    margin-right: 10px;
    width: 150px;
    flex-grow: 1;
    font-size: large;
}

input {
    background-color: lightpink;
}