.navbar img {
    height: 60px;
    margin-left: 60px;
} 

body {
    height: 125vh;
    background-color: aquamarine;
    background-size: cover;
    font-family: sans-serif;
}

header {
    background-color: rgb(251, 198, 246);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

main {
    color: white;
    margin-top: 80px;
    padding: 120px;
}

header * {
    display: inline;
    padding-right: 20px;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
}

.nav-button {
    border: none;
    outline: none;
    padding: 10px 20px;
    margin: 15px;
    border-radius: 50px;
    color: #333;
    background: rgba(174, 251, 225, 0.895);
    margin-bottom: 50px;
    box-shadow: 0 3px 20px 0 #0000003b;
    width: 150px;
  }
  
  .nav-button:hover {
    cursor: pointer;
    background-color: rgba(127, 255, 212, 0.795);
  }