
    <header>
        <div class="overlay">
            <h1>Bootcamp Movie DataBase</h1>
    
            <h3>The world is your oyster!</h3>
            <p>Search through our lists of movies and actors. Add to our lists, and make updates.</p>
            <br>
            
            <a routerLink="/home"><button>Return Home</button></a>
            <a routerLink="/actors/list"><button>View Actors</button></a>
            <a routerLink="/movies/list"><button>View Movies</button></a>
            </div>
    </header>