img {
    margin-top: 100px;
    height: 300px;
}

.create-wrap {
    margin-top: 140px;
    margin-left: 40px;
    margin-bottom: 30px;
}

button {
    border: 1px lightpink;
    background-color:  rgba(249, 150, 249, 0.082);
    outline: none;
    padding: 10px 20px;
    border-radius: 50px;
    color: #333;
    font-size: small;
    box-shadow: 0 1px 2px 0 #0000003b;
    width: 140px;
}

.create:hover, .list-button:hover {
    background-color: rgba(249, 150, 249, 0.164);
    transform: scale(1.01);
}

.list-button {
    width: 100px;
    margin: 7px;
}

.table-container {
    margin-left: 40px;
    width: 600px;
}
table.table-striped {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    color:rgba(0, 0, 0, 0.505)
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color:  rgba(249, 150, 249, 0.082);
    }

.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
    background-color: rgba(249, 150, 249, 0.164);

}

th.button-header {
    width: 100px;
    text-align: right;
}

