<body>
    <div class="container">
        <div class="left-column">
          
            <div class="create-wrap">
                <a routerLink="/movies/create">
                <button class="create">+ ADD A MOVIE</button>
                </a>
            </div>
        
            <div class="table-container">

          
            <table class="table-striped">  
                <thead>

                    <tr>
                        <th >Movie Title</th>
                        <th>Year</th>
                        <th class="button-header"></th>
                        <th class="button-header"></th>
                    </tr> 

                </thead>

                <tbody>

                    <tr *ngFor="let movie of movies">
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.year }}</td>
                    <td><a routerLink="/movies/{{movie.id}}">
                        <button class="list-button">Details</button></a>
                    </td>

                    

                    <td>
                        <a routerLink="/movies/edit/{{ movie.id }}">
                            <button class="list-button">Edit</button></a>
                    </td>
                 
                    </tr>

                </tbody>
            </table> 

        </div>

        </div>
       
        <div class="right-column">
            <div class="picture">
              <img src="../assets/arm.png">
            </div>
        </div>
        
    </div>
 
</body>