.image-container {
	margin-top: 85px !important;
	position: relative;
	width: 1000px; /* Set the width of the container */
	max-width: 1200px; 
	margin: auto;  /* Center the container horizontally */ 
  }
  
  .image-container img {
	width: 100%; /* Make the image fill the container */
	display: block;
  }
  
  .overlay-text {
	position: absolute;
	top: 50%; /* Position it in the middle vertically */
	left: 50%; /* Position it in the middle horizontally */
	transform: translate(-50%, -50%); /* Center it precisely */
	background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background */
	color: white; 
	padding: 20px; /* Add some padding to the text */
	text-align: center; 
  }
  
  .overlay-text h1 {
	font-size: 36px; 
  }
  
  .overlay-text p {
	font-size: 18px;
  }